<div class="w-full">
  <h2 class="text-2xl font-semibold">Upload Ingram CSV</h2>
  <%= form_tag({action: "upload"}, multipart: true, class: "text-left mx-auto") do %>
    <div class="my-5">
      <%= label :ingram_csv, "Select an Ingram CSV Export", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= file_field_tag :ingram_csv, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="mb-5">
      <%= submit_tag "Upload", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    </div>
  <% end %>
</div>
